{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Контакти{% endblock%}

{% block body %}
    <header>
        <h1>Контакти</h1>
    </header>

    <p>Щоб з нами зв'язатися, заповніть, будь ласка, форму:</p>
{% endblock %}